.cart {
  transition: 2s all;
}

.cart-header {
  height: 50px;
  background-color: #2b2f4c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.cart-header div {
  color: white;
  font-weight: 500;
}

.amptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
}

.buy-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy-block button {
  width: 100px;
  background-color: white;
  border: 1px solid #2b2f4c;
  color: #2b2f4c;
  border-radius: 4px;
  padding: 5px 0;
  margin-left: 20px;
  cursor: pointer;
}

.totalPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  color: #2b2f4c;
}

.cart-length {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: 10px;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #2b2f4c;
  border-radius: 50%;
  color: #2b2f4c;
  width: 20px;
  height: 20px;
  padding: 1px 1px 0 0;
}

.cart-icon {
  cursor: pointer;
}

@media (nim-width: 375px) and (max-width: 700px) {
  .cart-box {
    width: 365px;
  }
}

@media (min-width: 701px) {
  .cart-box {
    width: 465px;
  }
}
