.acc-body {
  display: flex;
  padding-top: 90px;
}

.acc-categories {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-height: calc(100vh - 195px);
  flex-grow: 1;
  min-width: 300px;
  background-color: #f3f5f5;
}

.acc-categories__category {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #2b2f4c;
  cursor: pointer;
}

.acc-pages {
  padding-bottom: 50px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 375px) and (max-width: 700px) {
  .acc-body {
    flex-direction: column;
  }

  .acc-categories {
    width: 100%;
  }
}
